* {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 18px;
    font-weight: 500;
}

#welcome-text h1 {
    font-weight: bold;
    font-size: 70px;
}

#about h2 {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#about h3 {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

#nav-logo {
    width: 70px;
    height: 70px;
}

#welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#welcome-slide {
    padding: 10px 10px 10px 10px;
    width: 800px;
    margin: 0 auto;
}

#welcome-text {
    width: 800px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin:auto;
}

.button {
    background-color: rgb(236, 176, 65);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    border-radius: 20px;
    margin-top: 20px;
    transition: transform .4s;
}

.button:hover {
    transform: scale(1.1);
    background-color: rgb(206, 154, 57);
}

.slide-img {
    width: 400px;
    height: auto;
}

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

#about-img-cont {
    width: 800px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin:auto;
}

#about-title {
    width: 800px;
    padding: 10px 10px 10px 10px;
    margin:auto;
}